body {
margin: auto;
}

h1
{
    color:green;
}

.title{
  font-family: Arial;
  color: gray;
  font-size: 10px;
}

.heading{
	color: #c4776e;
	font-size: 20px;
	font-family: Helvetica;

}
.motto{
	color: #a96479;
	font-family: Helvetica;
	font-size: 15px;
}

.searchbutton {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #5a6069;
  font-size: 12px;
  font-weight: bold;
  background: #bfddde;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.searchbutton:hover {
  background: #f0e8e1;
  text-decoration: none;
}

.imageunderline
{
    background-color: black;
    color:white;
    opacity: 0.6;
    margin-top: -25px;
    height:20px;
    text-align: center;
    padding-top: 2px;
}